@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.product-custom__container {
    max-width: 1125px;
    margin: 43px auto 0;
}

.product-custom__photos-details-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-custom__photos {
    display: flex;
    flex-direction: row-reverse;
}

.product-custom__thumbnails-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 15px;
    justify-content: center;
}

.product-custom__thumbnail{
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 3px;
}

.product-custom__thumbnail a, 
.product-custom__main-image-container a {
    display: ;
}